/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= @import "bootstrap-sprockets";
 *= @import "bootstrap";
 */

 @import "bootstrap";

 .navbar-div div:last-child {
  margin-left: auto;
}

body {
  background: linear-gradient(144deg, #F1FFE7, #C2E7DA, rgb(136, 175, 220));
  background-size:cover;
  background-repeat:no-repeat;
  background-position-y: bottom;
  min-height: 100vh;
  padding: 1rem 5em;
}

.navbar {
  box-shadow: 0 0 5px 0;
  margin-bottom:2rem;
}
//.container {
//  background-color: white;
//  padding-bottom:3rem;
//}
.collapse {
  justify-content: flex-end;
}