<div class="col-sm-4">
  <div class="card m-1">
    <div class="card-body">
      <h5 class="card-title"><%= link_to location.name, location %></h5>
      <p class="card-text">Required Disposition: <%= location.disposition_req %></h5>
      <p class="card-text"><%= location.description %></h5>
    </div>
  </div>
</div>